.profile__edit-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .profile__edit-block {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
    gap: 24px;
  }

}
