.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.35;
  }
}
