.login__submit {
  background-color: #fff;
  color: #000;
  min-height: 50px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  border-radius: 2px;
  transition: opacity 0.2s linear;
  margin-top: 16px;
}

.login__submit:hover {
  opacity: 0.8;
}
