.header {
  display: flex;
  justify-content: flex-start;
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .header {
    padding: 0 27px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    min-height: 56px;
  }
}
